# Tested A2 V1.1 environment (Python 3.12.14)
numpy==2.3.5
pandas==2.2.3
scikit-learn==1.8.0
PyYAML==6.0.3
joblib==1.5.3
scipy==1.17.0
threadpoolctl==3.6.0
python-dateutil==2.9.0.post0
pytz==2026.3.post1
tzdata==2026.3
six==1.17.0
